[Unit]
Description=Ruuvi DataLogger
After=network-online.target

[Service]
Type=simple
User=root
Group=root
Environment=
WorkingDirectory=/opt/ruuvi/datalogger
ExecStart=/usr/local/bin/npm run start
Restart=always

[Install]
WantedBy=multi-user.target
